@font-face {
    font-family: scifly;
    src: url(/assets/fonts/SciFly-Sans.ttf);
}

html{
    width: 100%;
    height: 100%;
}

body {
	background: url(/assets/images/BlurredBackground.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: scifly !important;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.left-container hr{
    width: 100%;
    margin: 0;
}

.right-container{
    width: 69%;
    display: inline-block;
    height: 100%;
    margin-left: 1%;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(40,40,40,0.3);
}
.socialButton{
    color: grey;
    padding: 0.1em;
}

.socialButton:hover{
    color: black;
}
.content{
    padding: 5%;
}
/* EXTRA LARGE DESKTOP */
@media screen and (min-width: 1400px){
}

/* LARGE DESKTOP*/
@media screen and (min-width: 1201px){
}

/* TABLET */
@media only screen and (min-width : 768px){
    .left-container{
        width: 30%;
        height: 100%;
        display: inline-block;
        text-align: center;
        background-color: white;
        box-shadow: 0 0 10px 0 rgba(40,40,40,0.3);
    }

    .nav-item{
        display: block;
        width: 80%;
        border-top: 1px solid #ddd;
        margin-left: 5%;
        margin-right: 5%;
        color: black;
        padding: 0.4em;
    }
    .wrapper {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        max-width: 1500px;
        max-height: 700px;
        color: #383838;
        border-radius: 3px;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }
}

@media screen and (max-width: 767px){
    body{
        overflow-y: scroll;
    }
    .wrapper {
        width: 75%;
        max-width: 850px;
        margin: 4rem auto;
        color: #383838;
        border-radius: 3px;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }
    .left-container{
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: white;
        box-shadow: 0 0 10px 0 rgba(40,40,40,0.3);
    }
}


