@font-face {
    font-family: scifly;
    src: url(/assets/fonts/SciFly-Sans.ttf);
}

body {
	background: url(/assets/images/BlurredBackground.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: scifly !important;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.left-container {
    display: inline-block;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 20%;
    height: 80%;
    top: 10%;
    right: 70%;
	background-color: #fff;
	color: #282828;
	z-index: 1;
	border-radius: 3px;
	box-shadow: 0 0 10px 0 rgba(40,40,40,0.3);
    max-width: 400px;
    max-height: 700px;
}

.left-container hr{
    position: absolute;
    width: 100%;
    top: 30%;
    z-index: 2;
}

.left-container .list-group{
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0 !important;
}
.left-container .list-group .list-group-item{
    text-align: center;
    font-size: 120%;
    border-top: 1px solid #ddd;
    border-bottom: none;
}

.logo {
    display: inline-block;
    position: absolute;
    top: 30%;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 3;
    border: 1px solid black;
    left: calc(50% - 25px);
}

.right-container{
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    align-items: center;
    position: absolute;
    padding: 1%;
    width: 59%;
    height: 80%;
    top: 10%;
    left: 31%;
	color: #282828;
	z-index: 1;
	border-radius: 3px;
	box-shadow: 0 0 10px 0 rgba(40,40,40,0.3);
    max-width: 1200px;
    max-height: 700px;
}
