@media screen and (max-width: 1400px){
	body {
	  font-size: calc(8px + (20 - 8) * ((100vw - 300px) / (1600 - 300)));
	}

	h1{
	  font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
	}
}

@media screen and (min-width: 1400px){
    body{
        font-size: 23px !important;
    }
    h1{
    	font-size: 45px !important;
    }
}


@media screen and (max-width: 767px){
    body{
        font-size: 16px;
    }
    h1{
        font-size: 2em;
    }
}
